 <div class="create">

      <h1>Create a account to make a character! </h1>

            <form id="cform" action ="create" method="post">
  <ul>
  <li> <input type="USERNAME" name="u" placeholder="Create a Username."> </li>
<li>  <input type="PASSWORD" name="p" placeholder="Create a Password."></li>
 <li> <input type="VERIFY" name="v" placeholder="Verify password."></li>
 </ul>
       <div class="button"> <button type="submit">Create Account</button> </div>
            </form>

  </div>

{{outlet}}
