
<div class="char">
                   <h1>Create your character!</h1>
  <h2> Select the options below for the character you would like to create. </h2>
<h3> Roll the dice and type the values in for Strength, Dexterity, Constitution, Intelligence, Wisdom, and Charisma </h3>

</div>



<p>Class &emsp; &ensp; &ensp; &ensp; &ensp; &ensp; Background &emsp; &ensp; &ensp; &ensp;
&ensp; &ensp; Race &emsp; &ensp; &ensp; &ensp; Factions
&emsp; &ensp; &ensp; &ensp; Character Name &emsp;
Character strength &emsp; Character Dexterity </p>

<form action="/action_page.php">
  <select name="classes">
    <option value="Barbarian">Barbarian</option>
    <option value="Bard">Bard</option>
    <option value="Druid">Druid</option>
    <option value="Monk">Monk</option>
    <option value="Barbarian">Paladin</option>
    <option value="Bard">Ranger</option>
    <option value="Druid">Sorcerer</option>
    <option value="Monk">Warlock</option>
  </select>
  <select name="backgrounds">
    <option value="Acolyte">Acolyte</option>
    <option value="Anthropologist">Anthropologist</option>
    <option value="Archaeologist">Archaeologist</option>
    <option value="Black fist double agent">Black fist double agent</option>
    <option value="Caravan Specialist">Caravan Specialist</option>
    <option value="Charlatan">Charlatan</option>
    <option value="City Watch">City Watch</option>
    <option value="Clan Crafter">Clan Crafter</option>
    <option value="Cloistered Scholar">Cloistered Scholar</option>
    <option value="Cormanthor Refugee">Cormanthor Refugee</option>
    <option value="Courtier">Courtier</option>
    <option value="Criminal">Criminal</option>
    <option value="Dissenter">Dissenter</option>
    <option value="Dragon Casualty">Charlatan</option>
    <option value="Earthspur Miner">City Watch</option>
    <option value="Entertainer">Entertainer</option>
    <option value="Faction Agent">Faction Agent</option>
    <option value="Far Traveler">Far Traveler</option>
    <option value="Folk Hero">Folk Hero</option>
    <option value="Gate Urchin">Gate Urchin</option>
    <option value="Gladiator">Gladiator</option>
    <option value="Guild Artisan">Guild Artisan</option>
    <option value="Guild Merchant">Guild Merchant</option>
    <option value="Harborfolk">Harborfolk</option>
    <option value="Haunted One">Haunted One</option>
    <option value="Hermit">Hermit</option>
    <option value="Hillsfar Smuggler">Hillsfar Smuggler</option>
    <option value="House Agent">House Agent</option>
    <option value="Inheritor">Inheritor</option>
    <option value="Initiate">Initiate</option>
    <option value="Inquisitor">Inquisitor</option>
    <option value="Investigator">Investigator</option>
    <option value="Iron Route Bandit">Iron Route Bandit</option>
    <option value="Knight">Knight</option>
    <option value="Knight of the order">Knight of the order</option>
    <option value="Mercenary Vetran">Mercenary Vetran</option>
    <option value="Mulmaster Aristocrat">Mulmaster Aristocrat</option>
    <option value="Noble">Noble</option>
    <option value="Outlander">Outlander</option>
    <option value="Phlan Refugee">Phlan Refugee</option>
    <option value="Pirate">Pirate</option>
    <option value="Sage">Sage</option>
    <option value="Sailor">Sailor</option>
    <option value="Secret Identity">Secret Identity</option>
    <option value="Shade Fanatic">Shade Fanatic</option>
    <option value="Soldier">Soldier</option>
    <option value="Spy">Spy</option>
    <option value="Stojanow Prisoner">Stojanow Prisoner</option>
    <option value="Ticklebelly Nomad">Ticklebelly Nomad</option>
    <option value="Trade Sheriff">Trade Sheriff</option>
    <option value="Urban Bounty Hunter">Urban Bounty Hunter</option>
    <option value="Urchin">Urchin</option>
    <option value="Uthgardt Tribe Member">Uthgardt Tribe Member</option>
    <option value="Vizier">Vizier</option>
    <option value="Waterdhavian Noble">Inheritor</option>
  </select>
  <select name="race">
    <option value="Aarakocra">Aarakocra</option>
    <option value="Aasimar">Aasimar</option>
    <option value="Bugbear">Bugbear</option>
    <option value="Centaur">Centaur</option>
    <option value="Changeling">Changeling</option>
    <option value="Dragonborn">Dragonborn</option>
    <option value="Dwarf">Dwarf</option>
    <option value="Elf">Elf</option>
     <option value="Feral Tiefling">Feral Tiefling</option>
    <option value="Firbolg">Firbolg</option>
    <option value="Genasi">Genasi</option>
    <option value="Gith">Gith</option>
    <option value="Gnome">Gnome</option>
    <option value="Goblin">Goblin</option>
    <option value="Goliath">Goliath</option>
    <option value="Half-Elf">Half-Elf</option>
    <option value="Halfling">Halfling</option>
    <option value="Half-Orc">Half-Orc</option>
    <option value="Hobgoblin">Hobgoblin</option>
    <option value="Human">Human</option>
    <option value="Kalashtar">Kalashtar</option>
    <option value="Kenku">Kenku</option>
    <option value="Kobold">Kobold</option>
    <option value="Lizardfolk">Lizardfolk</option>
    <option value="Loxodon">Loxodon</option>
    <option value="Minotaur">Minotaur</option>
    <option value="Orc">Orc</option>
    <option value="Shifter">Shifter</option>
    <option value="Simic Hybrid">Simic Hybrid</option>
    <option value="Tabaxi">Tabaxi</option>
    <option value="Tiefling">Tiefling</option>
    <option value="Tortle">Tortle</option>
    <option value="Triton">Triton</option>
    <option value="Vedalken">Vedalken</option>
    <option value="Viashino">Viashino</option>
    <option value="Warforged">Warforged</option>
    <option value="Yuan-ti Pureblood">Yuan-ti Pureblood</option>
    </select>
  <select name="alignments">
    <option value="Lawful good">Lawful good</option>
    <option value="Neutral good">Neutral good</option>
    <option value="Chaotic good">Chaotic good</option>
    <option value="Lawful neutral">Lawful neutral</option>
    <option value="Neutral">Neutral</option>
    <option value="Chaotic neutral">Chaotic neutral</option>
    <option value="Lawful evil">Lawful evil</option>
    <option value="Neutral evil">Neutral evil</option>
    <option value="Chaotic evil">Chaotic evil</option>
  </select>
  <input type="PLAYERNAME" name="Playername" placeholder="Enter the name of your character.">
  <input type="STRENGHT" name="STRENGHT" placeholder="Enter a value for strength.">
  <input type="DEXTERITY" name=" Dexterity" placeholder="Enter a value for dexterity.">
  <br><br>
<p> Constitution &emsp; &ensp; &ensp; &ensp; &ensp; Intelligence &emsp; &emsp; &emsp;
  Wisdom &ensp; &ensp; &ensp; &ensp; Charisma </p>
<input type="CONSTITUTION" name=" Constitution" placeholder="Enter a value for constitution.">
<input type="INTELLIGENCE" name="Intelligence" placeholder="Enter a value for intelligence.">
<input type="WISDOM" name="Wisdom" placeholder="Enter a value for wisdom.">
<input type="CHARISMA" name="Charisma" placeholder="Enter a value for charisma.">
  <br><br>
  <input type="submit">
</form>


