<div class = "container" >
<div class = "row">
<div class ="col-dd-4">
    <h2>
         User Profile
    </h2>
     <h4>Username: {{model.user.email}}</h4>
     <br />
     <h5>Password: {{model.user.password}}</h5>

</div>
</div>
</div>


